#ruthTitle{
	width: 100%;
}

.titleText{
	margin-left: 0;
	padding: 0;
	/*color: #714a84;*/
	color: #825599;
	width: 100%;
	text-decoration: none;
	font-family: 'Cinzel', serif;
	line-height: 0.9;
}

#authorText{
	margin-left: 0;
	padding: 0;
	/*color: #714a84;*/
	color: #825599;
	width: 100%;
	text-decoration: none;
	font-family: 'Cinzel', serif;
	font-size: 70%;
	margin-top: 1%;
}

.heading{
	color: white;
	margin-left: 35%;
	font-family: 'Cinzel', serif;
}

.container-fluid{
	width: 100%;
}

/*#homeLink{
	color: black;
}*/

#links{
	min-width: 100%;
	margin-left: 0;
}


body{
	background: #EDEBED url("media/room.png");
		background-repeat: no-repeat;
	background-size: cover;
}

nav{
	width: 110%;
}


.navLinks{
	color: #825599;
	font-family: 'Cinzel', serif;
	font-size: 100%;
	padding: none;
}


.navLinks2{
	color: #825599;
	font-family: 'Cinzel', serif;
	font-size: 100%;
	padding: none;
}

#navStyle{
	background: rgba(260, 260, 260, 0.6);
}

.bookLinks{
	padding-right: 0;
	width: 20%;
	margin: 0;
	padding: 0;
}

.bookLinks2{
	padding-right: 0;
	width: 20%;
	margin: 0;
	padding: 0;
}

#bioLink{
	margin-right: 0;
}

.navLinks:hover{
	color: #e9dcef;
	text-shadow: 2px 2px 8px #A2A1AE;
	text-decoration: none;
}

.currentPage{
	color: #e9dcef;
	text-shadow: 0px 0px 12px black;
}

#title{
	width: 100%;
}


a:link {
    text-decoration: none;
}

/* visited link */
a:visited {
    text-decoration: none;
}

/* mouse over link */
a:hover {
	color: red;
    text-decoration: none;
    text-shadow: grey;
}

/* selected link */
a:active {
	color: #e9dcef;
    text-decoration: none;
}


#jumbo{
		background: rgba(260, 260, 260, 0.7);
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 1%;
		margin-bottom: 5%;
}

#jumboForm{
		background: rgba(260, 260, 260, 0.7);
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 10%;
		margin-bottom: 5%;
}



.formHeading{
	font-family: 'Cinzel', serif;
	margin-top: -5%;
	margin-bottom: 5%;
	color: #825599;
}

.ruthHeading{
	font-family: 'Cinzel', serif;
	color: #825599;
}

.ruthP{
	font-family: 'Lora', serif;
	color: #825599;

}

/* .card{
	background: rgba(260, 260, 260, 0.6);
	margin-left: 55%;

}
 */
/* .card-img-top{
} */



#mainText{
	margin-left: 0;
	text-align: center;
	width: 20%
}

#bodyRow{
	margin-top: 2%;
}

#worksTitle{
	margin-left: 0;
}

.bioPic{
	margin-left: 0;
	margin-top: 5%;
	height: 100%;
	width: 100%;
}

.bookCover{
	margin-left: 0;
	margin-top: 5%;
	width: 255px;
	height: 390px;
}

#bookButton{
	margin-left: 0;
	margin-top: 1%;
	background-color: #825599;
	border: none;
}

#formButton{
	margin-left: 0;
	margin-top: 1%;
	background-color: #825599;
	border: none;
}

#firstBookButton{
	margin-top: -5%;
	margin-left: 0;
	background-color: #825599;
	border: none;
}

#secondBookButton{
	margin-top: -1%;
	margin-left: 0;
	background-color: #825599;
	border: none;
}

#lessing{
	margin-top: 1%;
}

#bookBlurb{
	margin-left: 0;
	margin-top: 5%;
}

button{
}



/* Large desktop */
@media (min-width: 1200px) {
	#ruthTitle{

	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	#ruthTitle{
	color: red;
	}
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}


