#ruthName{
	text-align: center;
	margin-left: 100%;
	font-size: 250%;
}

#linkRow{
	margin-left: 20%;
	padding: 0;
}

#mainText{
	margin-left: 25%;
	text-align: center;
	width: 20%
}

#bodyRow{
	margin-top: 2%;
}

#worksTitle{
	margin-left: 45%;
}

.bookCover{
	margin-left: 100%;
	margin-top: 5%;

}

#bookBlurb{
	margin-left: 25%;
	margin-top: 1%;

}

.navLink{
	color: black;
}