.page{
	overflow: hidden;
	height: 100%;
}

.bioPage{
	overflow: hidden;
	height: 200%;
}

#ruthTitle{
	width: 100%;
}

.titleText{
	margin-left: 0;
	padding: 0;
	/*color: #714a84;*/
	color: #825599;
	width: 100%;
	text-decoration: none;
	font-family: 'Cinzel', serif;
	line-height: 0.9;
}

#authorText{
	margin-left: 0;
	padding: 0;
	/*color: #714a84;*/
	color: #825599;
	width: 100%;
	text-decoration: none;
	font-family: 'Cinzel', serif;
	font-size: 70%;
	margin-top: 1%;
}

.heading{
	color: white;
	margin-left: 39% ;
	font-family: 'Cinzel', serif;
}

#newBookHeading{
	margin-left: 33%
}

#worksHeading{
	margin-left: 39%;
}

#homeHeading{
	margin-left: 40%;
}

#bioHeading{
	margin-left: 42%;
}

#contactHeading{
	margin-left: 35%;
}

.container-fluid{
	width: 100%;
}

/*#homeLink{
	color: black;
}*/

#links{
	min-width: 100%;
	margin-left: 0;
}


body{
	background: url("media/room.png");
		background-repeat: no-repeat;
	background-size: cover;
	background-color: #825599;
}

nav{
	width: 110%;
}


.navLinks{
	color: #825599;
	font-family: 'Cinzel', serif;
	font-size: 110%;
	padding: none;
}


.navLinks2{
	color: #825599;
	/*border: solid 1px #825599;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: none;
	padding-top: none;*/
	font-family: 'Cinzel', serif;
	font-size: 110%;
	padding: none;
}

#navStyle{
	background: rgba(260, 260, 260, 0.6);
}

.bookLinks{
	padding-right: 0;
	width: 20%;
	margin: 0;
	padding: 0;
}

.bookLinks2{
	padding-right: 0;
	width: 20%;
	margin: 0;
	padding: 0;
}

#bioLink{
	margin-right: 0;
}

.navLinks:hover{
	color: #e9dcef;
	text-shadow: 2px 2px 8px #A2A1AE;
	text-decoration: none;
}

.currentPage{
	color: #e9dcef;
	text-shadow: 0px 0px 12px black;
}

#title{
	width: 100%;
}


a:link {
    text-decoration: none;
}

/* visited link */
a:visited {
    text-decoration: none;
}

/* mouse over link */
a:hover {
	color: red;
    text-decoration: none;
    text-shadow: grey;
}

/* selected link */
a:active {
	color: #e9dcef;
    text-decoration: none;
}


#jumbo{
		background: rgba(260, 260, 260, 0.7);
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 1%;
		margin-bottom: 5%;
}

#worksJumbo{
		background: rgba(260, 260, 260, 0.7);
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 1%;
		margin-bottom: 5%;
}

#jumboForm{
		background: rgba(260, 260, 260, 0.7);
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 1%;
		margin-bottom: 5%;
}



.formHeading{
	font-family: 'Cinzel', serif;
	margin-top: -5%;
	margin-bottom: 5%;
	color: #825599;
}

.ruthHeading{
	font-family: 'Cinzel', serif;
	color: #825599;
}

.ruthP{
	font-family: 'Lora', serif;
	color: #825599;

}

/* .card{
	background: rgba(260, 260, 260, 0.6);
	margin-left: 55%;

}
 */
/* .card-img-top{
} */



#mainText{
	margin-left: 0;
	text-align: center;
	width: 20%
}

#bodyRow{
	margin-top: 2%;
}

#worksTitle{
	margin-left: 0;
}

.bioPic{
	margin-left: 0;
	margin-top: -5%;
	padding: 0;
	height: 100%;
	width: 100%;
}

.bookCover{
	margin-left: 5%;
	margin-top: 1%;
	height: 90%;
	width: 90%;
	
}

#bookButton{
	margin-left: 1%;
	margin-top: 7%;
	background-color: #825599;
	border: none;
	width: 100%;
}

#purchaseButton{
	margin-left: 1%;
	margin-top: 3%;
	background-color: #825599;
	border: none;
	width: 100%;
}

#purchaseMLA{
	margin-left: 1%;
	margin-top: 3%;
	background-color: #825599;
	border: none;
	width: 100%;
}

#formButton{
	margin-left: 0;
	margin-top: 1%;
	background-color: #825599;
	border: none;
}

#lessing{
	margin-top: 1%;
}

#bookBlurb{
	margin-left: 0;
	margin-top: 5%;
}

#bioBlurb{
	margin-left: 0;
	margin-top: 5%;
}

button{
}

#newBook{
	display: ;
}


/*PHONES IN LANDSCAPE MODE.............*/

@media only screen and (min-width: 600px)  {

#jumbo{
		margin-left: 15%;
		margin-right: 15%;
		margin-top: 1%;
		margin-bottom: 5%;
}

#worksJumbo{
		margin-left: 15%;
		margin-right: 15%;
		margin-top: 1%;
		margin-bottom: 5%;
}

#jumboForm{
		margin-left: 15%;
		margin-right: 15%;
		margin-top: 1%;
		margin-bottom: 5%;
}

.bioPic{
	margin-left: 5%;
	margin-top: -5%;
	padding: 0;
	height: 95%;
	width: 95%;
}

.bookCover{
	margin-left: 9%;
	margin-top: 1%;
	height: 85%;
	width: 85%;
}

#bookButton{
	margin-left: 1%;
	margin-top: 3%;
	background-color: #825599;
	border: none;
	width: 100%;
}

#purchaseButton{
	margin-left: 1%;
	margin-top: 3%;
	background-color: #825599;
	border: none;
	width: 100%;
}

#purchaseMLA{
	margin-left: 1%;
	margin-top: 3%;
	background-color: #825599;
	border: none;
	width: 100%;
}

#bioBlurb{
	margin-left: 0;
	margin-top: 3%;
}

.heading{
	color: white;
	margin-left: 44% ;
	font-family: 'Cinzel', serif;
}

#newBookHeading{
	margin-left: 40%
}

#worksHeading{
	margin-left: 40%;
}

#homeHeading{
	margin-left: 42%;
}

#bioHeading{
	margin-left: 47%;
}

#contactHeading{
	margin-left: 41%;
}

}


/* TABLETS IN PORTRAIT.................................J*/
@media only screen and (min-width: 760px)  {

.bookLinks{
	padding-left: 0px;
	padding-right: 0px;
	margin-left: -20%;
}


.navLinks{
	font-size: 97%;
	padding-left: 0px;
	padding-right: 0px;
}

#homeLink{
	margin-left: -3%;
}

#bioLink{
	width: 1%;
	margin-left: -1%;
}

#newBookLink{
	margin-left: -5%;
}

#worksLink{
	margin-left: -3%;
}

#authorText{
	font-size: 80%;
}

#jumbo{
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 1%;
		margin-bottom: 5%;
}

#worksJumbo{
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 1%;
		margin-bottom: 5%;
}

#jumboForm{
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 1%;
		margin-bottom: 5%;
}

.bioPic{
	height: 100%;
	width: 100%;
}

#bioBlurb{
	margin-top: -2%;
}

#bookButton{
	margin-left: 9%;
	margin-top: 3%;
	background-color: #825599;
	border: none;
	width: 85%;
}

#purchaseButton{
	margin-left: 9%;
	margin-top: 3%;
	background-color: #825599;
	border: none;
	width: 85%;
}

#purchaseMLA{
	margin-left: 9%;
	margin-top: 3%;
	background-color: #825599;
	border: none;
	width: 85%;
}

#bookBlurb{
	margin-left: 0;
	margin-top: 1%;
}


	}



@media only screen and (min-width: 1200px)  {


.bioPic{
	margin-left: 2%;
	height: 90%;
	width: 90%;
}

.bookCover{
	height: 75%;
	width: 75%;
}

#bookButton{
	margin-left: 9%;
	margin-top: 3%;
	background-color: #825599;
	border: none;
	width: 75%;
}

#purchaseButton{
	margin-left: 9%;
	margin-top: 3%;
	background-color: #825599;
	border: none;
	width: 75%;
}

#purchaseMLA{
	margin-left: 9%;
	margin-top: 3%;
	background-color: #825599;
	border: none;
	width: 75%;
}

#jumboForm{
		margin-left: 20%;
		margin-right: 20%;
		margin-top: 1%;
		margin-bottom: 5%;
}

}